.block-heading h2{
    color:#3b99e0;
}

.block-heading p{
    color:#777;
    max-width:600px;
    margin:auto;
}

.summary{
    background:#f7fbff;
    border-top:3px solid #5ea4f3;
    padding:30px;
}

.product h3{
    color:#3b99e0;
}

.product img{
    width:80px;
    height:80px;
    object-fit:cover;
}